.view {
    min-height: 90vh;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white; 
  }
  
  .view button {
    padding: 8px 16px;
    background-color: #EEB75D;
    color: black;
    border: none;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #EEB75D;
    margin-bottom: 10px;
    border: 1px solid black;
  }
  
  .view button:hover {
    transform: scale(1.05);
  }
  
  .view h2 {
    background-color: transparent;
    margin-bottom: 10px;
  }
  
  .view p {
    line-height: 27px;
    font-size: 18px;
    color: rgb(184, 177, 177);
  }
  
  .view img {
    min-height: 100%;
    min-width: 100%;
    margin-bottom: 20px;
  }

  /* location benfits */
.localities{
  min-height: 90vh;
  background-color: black;
  color: white;
  padding: 20px;
}
.localities img{
  margin-top: 20px;
  color: aliceblue;
  height: 80px;
  width: 85px;
}

.skill{
  box-shadow: 0px 0px 8px gold;
  margin: 25px auto;
  border-right: 1px solid #ffd70069;
  min-width: 250px; 
  max-height: 145px; 
}

.skill:last-child {
  border-right: none;
}

.skill:hover{
  transform: scale(1.05);
}

.localities p{
  margin-top: 8px;
  font-weight: 600;
  font-size: 1.1rem;
}
  
  @media (max-width: 768px) {
    .view p {
      font-size: 14px;
    }
  
    .view button {
      padding: 7px 13px;
      font-size: 14px;
    }
    .localities img{
      width: 55px;
      height: 50px;
    }
    .skill{
      width: 70px;
    }

    .localities p{
      font-size: 14px;
    }
  }
  