
/* Features */
.features1{
    width: 100%;
    display: flex;
    min-height: 65vh;
    align-items: center;
}

.features2{
    display: flex;
    align-items: center;
    width: 100%;
    min-height:70vh ;
}


.about{
    min-height: 100%;
    width: 100%;
}

.about img{
    margin-top: 20px;
    width: 100%;
    height: 50%;
}
.about h1{
   margin: 6px 0px;
    font-size: 38px;
    font-weight: bold;
    color: #2a2114;
    margin-bottom: 15px;
}
.about p{
line-height: 22px;
font-weight: 500;
color: white;
background-color: #2A2114;
font-size: 17px;
border: 2px solid white;
padding: 7px 10px;
}

.about p:hover{
    transform: scale(1.04);
}

.price{
    min-height: 500px;
    display: flex;
    align-items: center;
    width: 100%;
background-color:  rgb(210, 190, 187);
    color:#2A2114 ;
}

.price button{
    border: 2px solid rgb(188, 79, 79);
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}
.price button:hover{
    border: 2px solid black;
}
.tablefont{
    font-size: 18px;
}


/* carousel */

/* Carousel Styles */
/* Carousel Styles */
.carosal {
    min-height: 50vh;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slider-container {
    min-height: 100%;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

.slider {
    height: 100%;
    width: 100%;

    margin-bottom: 30px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px; /* Add gap between images */
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.cards img {
    width: 100%;
    max-width: 340px; /* Ensure images do not exceed this width */
    min-height: 280px; /* Adjust as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
}


@media (max-width: 1200px) {
    .cards img {
        max-width: 270px;
        max-height: 270px;
    }
}

@media (max-width: 992px) {
    .cards img {
        max-width: 250px;
        min-height: 240px;
    }
}

@media (max-width: 768px) {
   
    .cards img {
        max-width: 230px;
        min-height: 230px;
    }
}

@media (max-width: 576px) {
   
    .cards img {
        max-width: 200px;
        min-height: 210px;
    }
}










@media (max-width: 768px){
    .about h1{
        font-size: 30px;
    }
    .about p{
        font-size: 14px;
        padding: 6px 6px;
        width: 90%;
    }
    .about p:hover{
        transform: scale(1.04);
    }
    .price button{
        font-size: 12px;
    }
    .tablefont{
        font-size: 15px;
    }
}


